body{
    overflow-x: hidden;
}
a{
    text-decoration: none;
    color: black;
    font-size: 15px;
}

.header{
    height:100vh;
    width:100vw;
    background-image: url("../images/header_photo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 0;
}
.gra{
    width:100%;
    height:100%;
    background: rgb(1,1,1);
    background: linear-gradient(90deg, rgba(1, 1, 1, 0.693) 0%, rgba(255,255,255,0) 100%);
}
.navbar {
    width: 100%;
    height:10%;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding: 0 20px;
    font-size: 15x;
}
.logo{
    width:60%;
    font-size: 25px;
    display: flex;
    padding-left: 200px;
    color: red;
    font-weight: 700;
}
.options{
    width:30%;
    display: flex;
    justify-content: space-evenly;
    font-weight: bolder;
}
.option{
    width:25%;
    text-align: left;
}

.order{
    width:50%;
    height:60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.white-bold{
    color: white;
    font-size: 50px;
    line-height: 50px;
}

.white-normal{
    color:white;
    font-size: 18px;
    font-weight: 450;
}

.order-btn{
    color:white;
    width:130px;
    height: 30px;
    border-radius: 20px;
    font-size: 18px;
    text-align: center;
    border: none;
    display: flex;
    justify-content:center;
    align-items: center;
}

.order-text{
    text-align: center;
    padding-top: 40px;
}

.content{
    width:100%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.food-items{
    width:100vw;
    height:800px;
    display:grid;
    grid-template-columns:25% 25% 25% 25%;
    grid-template-rows:50% 50%;
    justify-content: space-evenly;
    align-content: space-evenly;
}

.footer{
    width:100vw;
    height:30px;
    background-color: rgb(255, 255, 0);
    display: flex;
    justify-content: center;
    align-items: center;
}
